---
const { index, question, interactive } = Astro.props;
import MultipleChoiceQuestionOption from "./MultipleChoiceQuestionOption.astro";
import "./MultipleChoiceQuestion.scss";
const numberString =
  index !== null && index !== undefined ? `${(index + 1).toString()} .` : "";
---

<div id={`MultipleChoiceQuestion-${index}`} class="MultipleChoiceQuestion">
  <div class="MultipleChoiceQuestion__body">
    <div set:html={`${numberString} ${question.body}`} />
  </div>
  <div>
    {
      question.options.map((option: any, optionIndex: number) => (
        <MultipleChoiceQuestionOption
          option={option}
          interactive={interactive}
          questionIndex={index}
          optionIndex={optionIndex}
        />
      ))
    }
  </div>
</div>
