---
const { questionIndex, optionIndex, option, interactive, revealAnswers } =
  Astro.props;
import "./MultipleChoiceQuestionOption.scss";

const letterOptions = ["a", "b", "c", "d", "e"];
const isCorrect = option.correct ? "true" : "false";
const revealed = interactive ? "false" : revealAnswers ? isCorrect : "false"; // Handle revealAnswers prop
---

<div
  id={`MultipleChoiceQuestion-${questionIndex}-option-${optionIndex}`}
  class={`MultipleChoiceQuestionOption ${revealed === "true" ? "highlight" : ""}`}
  data-correct={isCorrect}
  data-selected="false"
  data-revealed={revealed}
>
  <div class="MultipleChoiceQuestionOption__letter">
    ({letterOptions[optionIndex]})
  </div>
  <div class="MultipleChoiceQuestionOption__label">{option.label}</div>
</div>
