---
const { index, question, interactive } = Astro.props;
import MultipleChoiceQuestionOption from "./MultipleChoiceQuestionOption.astro";
import "./MultipleChoiceQuestion.scss";
---

<div class="MultipleChoiceQuestion">
  <div class="MultipleChoiceQuestion__body">
    {index !== undefined && `${index + 1}.`}
    {question.body}
  </div>
  <div>
    {
      question.options.map((option: any, optionIndex: number) => (
        <MultipleChoiceQuestionOption
          option={option}
          interactive={interactive}
          questionIndex={index}
          optionIndex={optionIndex}
        />
      ))
    }
  </div>
</div>
