---
import "./Base.scss";
interface Props {
  title: string;
}

const { title } = Astro.props;
const description =
  "A repository of practice questions for Carleton University's Computer Science courses.";
const isProduction = import.meta.env.ENVIRONMENT === "production";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://ccss.carleton.ca/favicon.ico" rel="icon" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"
    />
    {
      isProduction && (
        <>
          <noscript>
            <img src="https://shynet-mpb4.onrender.com/ingress/cc9fac9d-2deb-4201-822e-3625f4530b8f/pixel.gif" />
          </noscript>
          <script
            defer
            src="https://shynet-mpb4.onrender.com/ingress/cc9fac9d-2deb-4201-822e-3625f4530b8f/script.js"
          />
        </>
      )
    }

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://questions.carletoncomputerscience.ca"
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content='https://ccss.carleton.ca/images/orientation2018-min.jpeg"'
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://questions.carletoncomputerscience.ca"
    />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content='https://ccss.carleton.ca/images/orientation2018-min.jpeg"'
    />

    <!-- Cacheing -->
    <meta http-equiv="Cache-control" content="no-cache" />
  </head>
  <body>
    <slot />
  </body>
</html>
