---
import Back from "@components/Back/Back.astro";
import Button from "@components/Button/Button.astro";
import MathJax from "@components/MathJax.svelte";
import { getCollection } from "astro:content";
import { default as Layout } from "src/layouts/Content/Content.astro";

export async function getStaticPaths() {
  const questions = await getCollection("questions");
  return questions
    .filter((question: any) => question.id.includes("index.md"))
    .map((page) => {
      return {
        params: { path: page.slug },
        props: { page },
      };
    });
}

const { path } = Astro.params;
const { page } = Astro.props;
const { Content } = await page.render();

// load markdown solution
// const isWindows = process.platform === "win32";
// const isUnix = !isWindows;
// let solutionString;
// if (isUnix) {
//   solutionString = `../../../content/questions/${page.data.solution}`;
// } else {
//   solutionString = `content/questions/${page.data.solution}`;
// }
let solutionString = decodeURIComponent(new URL(`../../../content/questions/${page.data.solution}`, import.meta.url).pathname);
const solutionFile = await import(solutionString);
const SolutionComponent = solutionFile.default;
---

<Layout title="Welcome to Astro.">
  <div class="Question__bar">
    <div><Back href={`/questions/${path}`} label="Back" /></div>
  </div>
  <Content />
  <br />
  <SolutionComponent />
  <br />
  <a
    style="margin-left: -0.4rem"
    href={`https://github.com/CarletonComputerScienceSociety/questions/blob/main/src/content/questions/${page.data.solution}`}
    ><Button label="Contribute" /></a
  >
  <MathJax client:load />
</Layout>
